@font-face {
    src: url(./font/Poppins-Regular.ttf);
    font-family: poppins;
}
ul, li {
    list-style: none;
}
body {
    display: flex;
    background-color: rgb(44, 44, 44);
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.text_wrapper, .stats_wrapper {
    width: 50%;
    margin: 10px;
    position: relative;
}
.text_wrapper textarea, .stats_wrapper ul {
    width: 100%;
    height: 100%;
    border: 3px solid white;
    background-color: rgb(44, 44, 44);
    font-family: poppins;
    border-radius: 6px;
    color: white;
    padding: 3px;
    transition: all 400ms;
    box-sizing: border-box;
    resize: none;
}
.word_stat {
    border-radius: 6px;
    border: 3px solid white;
    padding: 3px;
    transition: all 400ms;
    box-sizing: border-box;
    height: calc( 100% - 140px );
    margin-top: 20px;
    color: white;
    position: relative;
    
}
.word_stat .inner {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}
.word_stat .el {
    height: 25px;
    word-wrap: wrap;
    padding-left: 10px;
}
.word_stat span {
    top: -13;
}
.text_wrapper textarea:hover, .stats_wrapper .word_stat:hover, .stats_wrapper ul:hover {
    box-shadow: 0 0 12px -2px white;
}
.text_wrapper textarea:focus {
    box-shadow: 0 0 12px -2px white;
}
.label {
    font-family: poppins;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
    padding: 2px;
    color: white;
    transition: all 400ms;
    background-color: rgb(44, 44, 44);
    border-radius: 6px;
}
.stats_wrapper .label {
    top: -15px;
    font-size: 0.8em;
}
.separation {
    width: 3px;
    height: 90%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.stats_wrapper ul {
    height: 115px;
    margin: 0;
}
.stats_wrapper li {
    width: 100%;
    height: auto;
    padding-left: 10px;
}